@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #2FA561; 
  /*to change color easily*/
  --secondary-color: #edd8bb;
  --third-color: #171717; /*main bg color*/
  --fourth-color: #2E4F4F; /*testimony box color*/
  --hehe-color: #051432;
  --warning-color: #f14848;
}
 
body {
  background-color: var(--third-color);
  font-family: 'Poppins';
  margin: 0;
  color: #CBE4DE;
}

.navbar {
  padding: 1em;
  background: #171717;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section.hero {
  background-color: var(--third-color);
  padding: 5em 0em 7em;
  background-image: url("../images/bg-mobile-legit.png");
  background-repeat: no-repeat;
  z-index: 1;
}

section.hero img.man {
  padding: 0em 0em 0em;
  height: 530px;
  width: 99%;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--secondary-color);
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
  color: var(--primary-color);
}

.left-col .primary-cta {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col .guest-login-cta {
  display: block;
  margin-top: 1em;
  color: var(--secondary-color);
}

.left-col .guest-login-cta img {
  margin-right: .5em;
}

section.features-section {
  background: var(--fourth-color);
  color: white;
  padding: .1em 1em 3em;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/bullet.svg");
  background-size: contain;
  margin-right: .5em;
}

.features-section img {
  display: none;
}

.testimonials-section {
  background: var(--third-color);
  color: white;
  padding: 5em 0em .2em;
}

.testimonials-section li {
  background: var(--fourth-color);
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.testimonials-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  margin-top: -4.5em;
}

.contact-section {
  padding: 1em 1em 1em;
}

h2 {
  font-size: 2em;
  color: white;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
  color: white;
}

input, textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background: linear-gradient(to right, var(--primary-color),var(--fourth-color));
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

button[type="submit"] {
  background: linear-gradient(to right, var(--primary-color),var(--fourth-color));
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

input[type="file"] {
  color: #919aa3;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
  width: 100%;
  padding: .8em;
  margin-bottom: .5em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"].send-delete-cta {
  background: linear-gradient(to right, var(--warning-color),var(--hehe-color));
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
  color: var(--primary-color);
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: white;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-login-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.go-login-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}

/* big landscape tablets, laptops, and desktops */
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
    padding: 0em 0em 2em;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 3%;
    top: 5%;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  .features-section:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    left: 4.5em;
    top: 2em;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);
  --br: 0.5em;
  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);
}



h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}
.name {
  font-weight: bold;
}

.streamers {
  margin-top: 3em;
  display: flex;
  text-align: center;
  justify-content: center;
}

.streamers img {
  border-radius: 50%;
}

.icon {
  width: 13em;
  height: 13em;
  position: relative;
  transition: transform ease-in-out 150ms;
}

.streamer:hover .icon {
  transform: translateY(-20%);
}

.streamer .icon::before {
  opacity: 1;
}

.streamer .icon:hover {
  transform: translateY(-20%) scale(1.1);
}

.icon::before,
.icon::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
}

.icon::before {
  content: "\f095"; /*call icon*/
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  background: #f00;
  display: grid;
  place-items: center;
  z-index: 10;
  transition: opacity 75ms linear, background-color 100ms linear;
}

.icon::before {
  background: var(--primary-color);
}

.icon:hover:before {
    background: #f00;
  }

.icon:hover:after {
  background: #f00;
  z-index: 1;
  animation: pulse 1250ms infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.35);
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */



.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
}

.full-boxer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comment-box:hover{
  margin-top: 12px;
}

.comment-box{
  width: 500px;
  background: white;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.Profile{
  display: flex;
  align-items: center;
}

.profile-image{
  width: 70px;
  height: 70px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Name{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.Name strong{
  color: black;
  font-size: 18px;
}

.Name span{
  color: gray;
  margin-top: 2px;
}

.comment p{
  color: black;
}

.navbar-top {
  background-color: #fff;
  color: #333;
  box-shadow: 0px 4px 8px 0px grey;
  height: 70px;
}

.title {
  font-family: 'Dancing Script', cursive;
  padding-top: 15px;
  position: absolute;
  left: 45%;
}

.navbar-top ul {
  float: right;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 18px 50px 0 40px;
}

.navbar-top ul li {
  float: left;
}

.navbar-top ul li a {
  color: #333;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.icon-count {
  background-color: #ff0000;
  color: #fff;
  float: right;
  font-size: 11px;
  left: -25px;
  padding: 2px;
  position: relative;
}

/* End */

.sidenav {
  background-color: #fff;
  color: #333;
  border-bottom-right-radius: 25px;
  height: 86%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: absolute;
  
}

.profile {
  margin-bottom: 20px;
  margin-top: -12px;
  text-align: center;
}

.profile img {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px grey;
}

.name {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.job {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.url, hr {
  text-align: center;
}

.url hr {
  margin-left: 20%;
  width: 60%;
}

.url a {
  color: #818181;
  display: block;
  font-size: 20px;
  margin: 10px 0;
  padding: 6px 8px;
  text-decoration: none;
}

.url a:hover, .url .active {
  background-color: #e8f5ff;
  border-radius: 28px;
  color: #000;
  margin-left: 14%;
  width: 65%;
}

/* End */

/* Main */
.main {
  margin-top: 2%;
  margin-left: 29%;
  font-size: 28px;
  padding: 0 10px;
  width: 58%;
}

.main h2 {
  color: white;
  font-family: 'Poppins';
  font-size: 24px;
  margin-bottom: 10px;
}

.main .card {
  background-color: var(--third-color);
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
}

.main .card table {
  border: none;
  font-size: 16px;
  height: 270px;
  width: 80%;
}

.edit {
  position: absolute;
  color: #e7e7e8;
  right: 14%;
}

.social-media {
  text-align: center;
  width: 90%;
}

.social-media span {
  margin: 0 10px;
}

.fa-facebook:hover {
  color: #4267b3 !important;
}

.fa-twitter:hover {
  color: #1da1f2 !important;
}

.fa-instagram:hover {
  color: #ce2b94 !important;
}

.fa-invision:hover {
  color: #f83263 !important;
}

.fa-github:hover {
  color: #161414 !important;
}

.fa-whatsapp:hover {
  color: #25d366 !important;
}

.fa-snapchat:hover {
  color: #fffb01 !important;
}

.profile {
  margin-left: 100px;
  margin-right: 100px;
}

table {
  color:white;
}
/* End */


.wrapper{
 position: relative;
 margin-top: 300px;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 1000px;
 display: flex;
 box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
 width: 35%;
 background: linear-gradient(to right,var(--primary-color),var(--fourth-color));
 padding: 30px 25px;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 text-align: center;
 color: #fff;
}

.wrapper .left img{
 border-radius: 5px;
 margin-bottom: 10px;
}

.wrapper .left h4{
 margin-bottom: 10px;
}

.wrapper .left p{
 font-size: 12px;
}

.wrapper .right{
 width: 65%;
 background: #fff;
 padding: 30px 25px;
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
 margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
   margin-bottom: 15px;
   padding-bottom: 5px;
   border-bottom: 1px solid #e0e0e0;
   color: #353c4e;
 text-transform: uppercase;
 letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
 display: flex;
 justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
 width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
   color: #353c4e;
   margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
 font-size: 13px;
 margin-bottom: 10px;
 color: #919aa3; /*font color*/
}

.wrapper .social_media ul{
 display: flex;
}

.wrapper .social_media ul:hover:before{
  background: linear-gradient(to right,var(--secondary-color),var(--fourth-color));
}

.wrapper .social_media ul li{
 width: 45px;
 height: 45px;
 background: linear-gradient(to right,var(--primary-color),var(--fourth-color));
 margin-right: 10px;
 border-radius: 5px;
 text-align: center;
 line-height: 45px;
}



.wrapper .social_media ul li a{
 color :#fff;
 display: block;
 font-size: 20px;
}

/*
.wrapper .social_media ul li a:hover:before{
  color :#fff;
  display: block;
  font-size: 20px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
}
*/